body{
	background-color: #FBF5EF;
}

#loading-data{
	color: #AAB8C2;
}

.micropost-content-button > div {
	display: inline;
	margin-right: 15px;
	margin-left: 15px;
}

.micropost-content-button > div > button{
	border: 0;
	color: #AAB8C2;
	background: transparent;
	font-size: 1.5em;
	border-width: 0px;
	outline:none;
}

.micropost-content-button > div > .delete-micropost-favorite-button{
	color: #FC0F0F;
}

.each-micropost-border{
	cursor: pointer;
}
.each-micropost-border:hover{

	background-color: #FBF5EF;
}

.micropost-replay-button:hover ,.micropost-replay-focus-button:hover{
	color: #35CCF8;
}

.micropost-favorite-button:hover{
	color: #FC0F0F;
}

.micropost-retweet-button:hover{
	color: #0AF863;
}

#micropostContentModal{
 top: 10%;
}
#replayModal{
    top: 20%;
}

.js-micropost-textarea{
	min-height: 64px;
	height: :200px;
}

#user-info{
	height: 190px;
	border: solid 1px #F5D0A9;
	border-radius: 1em;
	padding-right: 0px;
	padding-left: 0px;
}
.user-profile{
	height: 98px;
	background-color: #FF8C00;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
}
.user-info-link{
	height: 90px;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	background-color: #fff;
}

#micropost{

	border-radius: 1em;
	padding-right: 0px;
	padding-left: 0px;
}
.micropost-form-space{
	border: solid 1px #F5D0A9;
	margin-bottom: 5px;
	border-top-right-radius: 1em;
	border-top-left-radius: 1em;
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	padding: 10px 10px;
}

.micropost-form-button{
	margin: 0;
}
.each-micropost-border{
	border-radius: 0.5em;
	border: solid 1px #F5D0A9;
	background-color: #fff;
	margin-bottom: 5px;
}
.micropost-user-info{
	margin-left: 10px;
	padding-top: 10px;
	text-align: left;
}
.micropost-content{
	margin: 5px;
	padding: 10px;
	text-align: center;
}
.micropost-content-button{
	margin: 5px;
	padding: 5px;
	text-align: center;
}


.user-info-link {
	margin-bottom: 10px;
}


.user-info-link > span{
	font-size: 0.8em;
}
